.group
  .content
    .left.wide
      .group
        %h2 Support
        %p Standfast is committed to providing the highest standards of sales and service with industry-based sales professionals, qualified engineers and training personnel ready to assist you.
        %p Customers have given us great feedback on our after-sales service. We enter into a service agreement with you which includes a post-implementation review of the product where you provide feedback on its performance, regular service checks, maintenance and/or repairs where necessary and comprehensive product training.
        %p TRAM comes with a two (2) year warranty on wearable parts, a ten (10) year warranty on castings and a five (5) year warranty on the TRAM arm.
        %p
          For specific after-sales service enquiries, please
          = link_to "contact us.", contact_url

      .group
        %h3 Documents
        %h6 TRAM
        %p
          = link_to 'Product Catalogue', s3_url("documents/catalogue.pdf")
          %br
          = link_to "Job Safety Analysis", s3_url("documents/job-safety-analysis.pdf")
          %br
          = link_to "Comparison of height safety systems for road tankers and trailers", s3_url("documents/comparison-road-tanker.pdf")
          %br
          = link_to "Risk Assessments - Australia (general)", s3_url("documents/risk_assessment.pdf")
          %br
          = link_to "Risk Assessments - Australia (Victoria)", s3_url("documents/risk_assessment_vic.pdf")
          %br
          = link_to "Risk Assessments - Australia (New South Wales)", s3_url("documents/risk_assessment_nsw.pdf")
          %br
          = link_to "Risk Assessments - United Kingdom", s3_url("documents/risk_assessment_uk.pdf")
          %br
          = link_to "Why TRAM is Categorized as a Total Restraint Device", s3_url("documents/risk_assessment_uk_2.pdf")
          %br
          = link_to "Installation Safety Considerations Handbook", s3_url("documents/tram-installation-safety.pdf")
          %br
          = link_to "Mobile Cranes and Plant Information", s3_url("documents/mobile-cranes-plant.pdf")
          %br
          = link_to "Height Safety Review", s3_url("documents/height-safety-review.pdf")
        %h6 T-Line
        %p
          = link_to "Guidance and Safe Use", s3_url("documents/tline-safe-use.pdf")
          %br
          = link_to "Information", s3_url("documents/tline-information.pdf")

      .group
        %h3 Manuals
        %p
          Technical manuals are also available on request. Please
          = link_to "contact us", contact_url
          for a copy of this quality-controlled document.
        %h6 TRAM
        %p
          = link_to "TRAM™ - Standard Training Manual", s3_url("documents/tram-training-manual.pdf")
          %br
          = link_to "TRAM™ - Standard Operator Manual", s3_url("documents/tram-operators-manual.pdf")
          %br
          = link_to "Rail TRAM™ - Operator Manual", s3_url("documents/rail-tram-operators-manual.pdf")
          %br
          = link_to "Fixed Base TRAM™ - Operator Manual", s3_url("documents/fixed-base-operators-manual.pdf")
          %br
          = link_to "Rotating Base TRAM™ - Operator Manual", s3_url("documents/rotating-base-operators-manual.pdf")
          %br
          = link_to "Rotating Arm TRAM™- Operator Manual", s3_url("documents/rotating-arm-operators-manual.pdf")
          %br
          = link_to "ISO TRAM™ - Operator Manual", s3_url("documents/isotram-operators-manual.pdf")
          %br
          = link_to "TRAM™ - Installation Overview Manual", s3_url("documents/tram-installation-overview.pdf")
          %br
          = link_to "TRAM™ Installation Manual (all block types inc. adjustables)", s3_url("documents/tram-installation-manual.pdf")
        %h6 T-Line
        %p
          = link_to "Operator's Manual", s3_url("documents/tline-manual.pdf")
      
    .right.narrow
      = link_to 'Contact Us', contact_path, :class => 'button blue'
      
    .clear
