= render '/shared/subnav'

.group
  .content.no_padding
    #main_image
      = image_tag '/images/solutions/firetram/main-firetram.png', :alt => 'Fire TRAM system'

.group
  .content
    .left.wide
      %h2
        Fire TRAM
      %p Fire TRAM is built on the same technology proven in the field since 2004. Around the world, major organizations rely on Standfast products to protect employees working at height or in dangerous conditions from the consequences of a fall. For many years, we've worked with organizations in various industries to analyze their unique fall hazards and provide innovative, cost-effective solutions.
      %p There are many reasons to employ the Fire TRAM Fall Prevention System. All them are beneficial to your department and administration. What Fire TRAM might mean to you:
      %ul
        %li Firefighter: When using Fire TRAM, a height safety system, the risk of falling from an engine is eliminated, and when outfitted with the hose tool, time and manpower needed to bed hose is reduced.
        %li Fire Chief: Reduce the risk of injury and lost manpower by installing Fire TRAM.
        %li Risk Manager: Decrease workers comp claims and manpower issues. Decrease insurance rates with Fire TRAM.

    .right.narrow
      %p
        = link_to '', :id => 'slideshow_link' do
          = image_tag '/images/pictures.png', :alt => 'slideshow link'
      = render 'links'
    .clear
    
- content_for :colorbox do
  #slideshow
    - 41.times do |i| 
      .viewer.standard{ :id => "image-container-#{i}", :class => "#{'hidden' if i != 0}" }
        = image_tag "/images/slideshows/fire/i-#{"%03d" % (i+1)}.png", :alt => "slideshow image #{i}"
    .colorbox-links.for-pics
      = link_to_function 'Next', '', :id => 'next-slideshow', :class => 'viewer-next'
      = link_to_function 'Previous', '', :id => 'previous-slideshow', :class => 'viewer-previous'

- content_for :scripts do
  :javascript
    colorbox_display('slideshow');
    setUpSlideshow();

